
.main {
  margin-top: 100px;
  margin-bottom: 50px;
  height: 100%;
}


.comp1 {
  height: 50vh;
  .header {
    font-size: 40px;
  }
  .sub1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.comp2 {
  height: 50vh;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  .miniHeader{
    font-size: 13px;
  }
  .content {
    font-size: 25px;
  }
  img {
    height: 250px;
  }
}

.comp3 {
  height: 40vh;
  margin-top: 300px;
  margin-bottom: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  .header {
    font-weight: bolder;
    font-size: 30px;
  }
  .image {
    margin-top: 60px;
    img {
      width: 300px;
    }
  }
  .sub {
    width: 40vw;
    margin-top: 30px;
    font-size: 15px;
    p {
      font-size: 12px;
    }
  }
}
